<div id="editor">var x = 5;</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

<script src="/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/ace/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
<script src="/ace/mode-javascript.js" type="text/javascript" charset="utf-8"></script>

<style type="text/css">
    #editor {
        position: relative;
        width: 500px;
        height: 400px;
    }
</style>
<script>
    $(document).ready(function() {
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/twilight");
        var JavaScriptMode = require("ace/mode/javascript").Mode;
        editor.getSession().setMode(new JavaScriptMode());
        editor.getSession().on('change', function(xx) {console.log(xx)});
        document.aceEditor = editor;
    });
</script>


<div>
    <button id='btn-upload'>Upload</button>
    <script type="text/javascript">
        $('#btn-upload').click(function() {
            alert(document.aceEditor.getSession().getValue())
        });
    </script>
</div>